a[href^=tel] {
    color: inherit;
    text-decoration: none;
}

table#pricesTable del {
    color: red;
    margin-left: 30px;
}

#pricesTable {
  margin: 0 auto;
  padding: 40px;
  max-width: 800px;
}

#pricesTable table {
  margin: 0 0 40px 0;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: table;
}
@media screen and (max-width: 580px) {
  #pricesTable table {
    display: block;
  }
}


#pricesTable tr:nth-of-type(odd) {
  background: #e9e9e9;
}
#pricesTable th {
  font-weight: 900;
  color: #ffffff;
  background: #3dadb2;
  text-align: center; 
}

@media screen and (max-width: 580px) {
  #pricesTable tr,
  #pricesTable tr {
    padding: 8px 0;
    display: block;
  }
}

#pricesTable td {
  padding: 6px 12px;
  display: table-cell;
}

@media screen and (max-width: 580px) {
  #pricesTable td {
    padding: 2px 12px;
    display: block;
  }
}
