---
layout: default
---

{% include hero.html %}

{% include contact.html %}

<!-- Start About -->
<div id="about" class="about">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h3>Bun venit la {{site.name}}</h3>
                <p>Bună ziua, noi suntem {{site.name}}, un cabinet stomatologic în care vă veți simți bine primit și in siguranță. Vrem in primul rând să nu mai aveți teamă de dentist fiindca o relatie bună cu medicul dumneavoastră imbunătățeste sănătatea și in consecință reduce costurile tratamentelor.</p>

                <div class="media">
                    <div class="media-left">
                        <div class="boxed-icon">
                            <svg class="icon icon-star"><use xlink:href="#icon-star"></use></svg>
                        </div>
                    </div>
                    <div class="media-body">
                        <p>Inovație - Am fost printre primele cabinete care au promovat implanturile dentare de calitate la prețuri accesibile. Suntem printre primele afaceri din România care acceptă plata cu Bitcoin.</p>
                    </div>
                </div>

                <div class="media">
                    <div class="media-left">
                        <div class="boxed-icon">
                            <svg class="icon icon-heart"><use xlink:href="#icon-heart"></use></svg>
                        </div>
                    </div>
                    <div class="media-body">
                        <p>Compasiune si ințelegere - Nimeni nu vrea să ajungă la doctor, cu atât mai puțin la dentist &#9786;. Unii oameni sunt speriați, alții sunt grăbiți, alții sunt deranjați de aspecte estetice, alții pur și simplu au o suferință dentară. Nu vrem sa fim doar profesioniste, vrem să vă liniștim, să ne reintalnim cu drag.</p>
                    </div>
                </div>

                <div class="media">
                    <div class="media-left">
                        <div class="boxed-icon">
                            <svg class="icon icon-medkit"><use xlink:href="#icon-medkit"></use></svg>
                        </div>
                    </div>
                    <div class="media-body">
                        <p>Experiență clinică - Suntem dentiste cu peste 15 ani de experiență clinică, mii de pacienți tratați, tot atâtea zâmbete refăcute. Încercam sa ne perfecționam prin educație dar mai ales invațand din feedback-ul vostru zilnic.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <img src="img/about.jpg" alt="consult cabinet stomatologic {{site.name}}">
            </div>
        </div>
    </div>
</div>
<!-- End About -->

<!-- Start Treatments -->
<div id="treatments" class="treatments">
    <div class="container-fluid">

        <div class="row">
            {% for treatment in site.data.treatments %}
                <div class="col-sm-6 col-md-4">
                    <div class="icon-box">
                        <svg class="icon {{ treatment.icon }}"><use xlink:href="#{{ treatment.icon }}"></use></svg>
                        <h4>{{ treatment.title }}</h4>
                        <p>{{ treatment.description }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- End Treatments -->


<!-- Start Our team -->
<div id="team" class="team"> 
    <div id="team-carousel">
    {% for member in site.data.team %}
        <div class="expandable-box">
            <div class="expandable-box-top">
                <img src="{{ site.baseurl }}/img/{{ member.image }}" alt="{{ member.name }}">
                <h4>{{ member.name }}</h4>
                <h4>{{ member.title }}</h4>
            </div>
            <div class="expandable-box-bottom">
                <a href="mailto:{{ member.email }}" data-toggle="tooltip" data-placement="bottom" title="{{ member.email }}"><svg class="icon icon-envelope"><use xlink:href="#icon-envelope"></use></svg></a>
                </a>
                <a href="tel:{{ member.phone }}" data-toggle="tooltip" data-placement="bottom" title="{{ member.phone }}"><svg class="icon icon-phone"><use xlink:href="#icon-phone"></use></svg></a>
                </a>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
<!-- End Our team -->


<!-- Start Testimonials -->
<div id="testimonials" class="testimonials parallax" style="background-image: url('{{ site.baseurl }}/img/{{ site.testimonials.testimonials_img }}');">
    <div class="overlay-container">
        <div class="overlay"></div>
        <div class="container-fluid">
            <div id="testimonial-carousel">
                {% for testimonial in site.data.testimonials %}
                    <div class="testimonial-item">
                        <svg class="icon icon-quote-left"><use xlink:href="#icon-quote-left"></use></svg>
                        <blockquote>
                            <p>{{ testimonial.description }}</p>
                            <footer>
                                <a href="{{ testimonial.link}}" class="testimonial-link"><img  rel="nofollow" src="https://graph.facebook.com/{{ testimonial.fbid }}/picture?type=normal"/> {{ testimonial.name }}</a>
                                <small>{{ testimonial.title }}</small>
                            </footer>
                        </blockquote>
                    </div>
                {% endfor %}
            </div>
            
            
            <div class="row">
                <small>Citeste mai multe review-uri pe pagina de <a href="https://www.facebook.com/dririnaalexandru/reviews">Facebook</a></small>
            </div>
        
            <div class="row">
            <div class="fb-page" data-href="https://www.facebook.com/dririnaalexandru/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true"><blockquote cite="https://www.facebook.com/dririnaalexandru/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/dririnaalexandru/">{{site.name}} - Dr Irina Alexandru</a></blockquote></div>
            </div>
        </div>
    </div>
</div>
<!-- End Testimonials -->

<!-- Start Gallery -->
<div id="gallery" class="gallery">
        
    {% for images in site.data.gallery %}
        <a href="{{ site.baseurl }}/img/gallery/large/{{ images.image_large }}" class="gallery-item expandable-box image-link">
            <div class="expandable-box-top">
                <img src="{{ site.baseurl }}/img/gallery/thumb/{{ images.image_thumb }}" alt="{{ images.image_alt }}">
            </div>
            <div class="expandable-box-bottom">
                <span><svg class="icon icon-chain"><use xlink:href="#icon-chain"></use></svg></span>
            </div>
        </a>
    {% endfor %}

</div>
<!-- End Gallery -->

<!-- Start Map -->

<div id="location" class="map" data-zoom="{{ site.map.zoom }}" data-address="{{ site.map.address }}" data-address-details="<img src='{{ site.map.address_details }}'>"></div>

<!-- End Map -->
