<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v11.0&appId=176812056379161&autoLogAppEvents=1" nonce="IURa0hqd"></script>

<!-- Your Chat Plugin code -->
<div class="fb-customerchat"
        attribution=setup_tool
        page_id="1284293761656651"
  logged_in_greeting="Buna. Scrie-ne un mesaj si iti vom raspunde cat de curand. Echipa INODent."
  logged_out_greeting="Buna. Scrie-ne un mesaj si iti vom raspunde cat de curand. Echipa INODent."
  greeting_dialog_display="fade"
>
</div>
