<div id="pricesTable">
   <div class="wrapper">
       <div class="row header"><div class="cell">TIPUL INTERVENȚIEI</div><div class="cell">PRETUL (RON)</div></div>
       <div class="row"><div class="cell">Consultație + deviz estimativ</div><div class="cell">Gratis</div></div>
                  
       <div class="row header"><div class="cell">TRATAMENTUL CARIEI DENTARE</div><div class="cell"></div></div>
       <div class="row"><div class="cell">Obturație foto pe dinți frontali</div><div class="cell">150 lei</div></div>
       <div class="row"><div class="cell">Obturație foto pe dinți laterali</div><div class="cell">100 lei</div></div>
       
       <div class="row header"><div class="cell">TRATAMENT ENDODONTIC</div><div class="cell"></div></div>
       <div class="row"><div class="cell">Tratament de canal dinte monoradicular vital</div><div class="cell">100 lei</div></div>
       <div class="row"><div class="cell">Tratament de canal dinte pluriradicular vital</div><div class="cell">150 lei</div></div>
       <div class="row"><div class="cell">Tratamentul gangrenei pulpare: primă sedință</div><div class="cell">60 lei</div></div>
       <div class="row"><div class="cell">Tratamentul gangrenei pulpare: pansament antiseptic</div><div class="cell">30 lei</div></div>
       <div class="row"><div class="cell">Obturație de canal</div><div class="cell">60 lei</div></div>
       
       <div class="row header"><div class="cell">IMPLANTOLOGIE</div><div class="cell"></div></div>
       <div class="row"><div class="cell">Implant dentar AlphaBio/Biotec 5 ani garanție (include bont de vindecare și bont protetic)</div><div class="cell"><del> 1800 lei</del><span> 1100 lei</span></div></div>
         <div class="row"><div class="cell">Implant dentar Bredent 5 ani garanție (include bont de vindecare și bont protetic)</div><div class="cell"><del> 2700 lei</del><span> 1800 lei</span></div></div>
       <div class="row"><div class="cell">Lifting de sinus fereastră externă (toate materialele incluse)</div><div class="cell">2500 lei</div></div>
       <div class="row"><div class="cell">Membrană resorbabilă</div><div class="cell">100 lei</div></div>
       <div class="row"><div class="cell">Adiție de os</div><div class="cell">100 lei</div></div>
       
       <div class="row header"><div class="cell">CHIRURGIE</div><div class="cell"></div></div>
       <div class="row"><div class="cell">Extracție dinți monoradiculari / pluriradiculari simpla</div><div class="cell">100 lei</div></div>
       <div class="row"><div class="cell">Extracție dinti monoradiculari/pluriradiculari complicată</div><div class="cell">200 lei</div></div>
       <div class="row"><div class="cell">Extracție molari de minte</div><div class="cell">200 lei</div></div>
       <div class="row"><div class="cell">Extracție molari incluși/semi-incluși</div><div class="cell">400 lei</div></div>
       <div class="row"><div class="cell">Rezecție apicală incisivi</div><div class="cell">400 lei/dinte</div></div>
       <div class="row"><div class="cell">Rezecție apicală premolari, molari</div><div class="cell">500-700 lei/dinte</div></div>
       <div class="row"><div class="cell">Chistectomie</div><div class="cell">400 lei</div></div>
       <div class="row"><div class="cell">Frenectomie/frenoplastie</div><div class="cell">100 lei</div></div>
       <div class="row"><div class="cell">Pericoronarită molar 3-decapusonare</div><div class="cell">100 lei</div></div>
       
       <div class="row header"><div class="cell">PARODONTOLOGIE</div><div class="cell"></div></div>
       <div class="row"><div class="cell">Imobilizarea dinților cu compozit + fibră de sticlă (un dinte)</div><div class="cell">50 lei</div></div>
       <div class="row"><div class="cell">Chiuretaj subgingival câmp inchis</div><div class="cell">50 lei/dinte</div></div>
       <div class="row"><div class="cell">Chiuretaj subgingival câmp deschis</div><div class="cell">100 lei/dinte</div></div>
       <div class="row"><div class="cell">Echilibrare ocluzală</div><div class="cell">100 lei</div></div>
       <div class="row"><div class="cell">Antibiogramă</div><div class="cell">300 lei</div></div>
       
       <div class="row header"><div class="cell">PROFILAXIE</div><div class="cell"></div></div>
       <div class="row"><div class="cell">Detartraj cu ultrasunete + periaj profesional + air flow</div><div class="cell">100 lei</div></div>
       <div class="row"><div class="cell">Periaj profesional</div><div class="cell">50 lei</div></div>
       <div class="row"><div class="cell">Air flow</div><div class="cell">50 lei</div></div>
       <div class="row"><div class="cell">Gutieră bruxism sau albire/arcadă</div><div class="cell">150 lei</div></div>
       
       <div class="row header"><div class="cell">PROTETICĂ</div><div class="cell"></div></div>
       <div class="row"><div class="cell">Coroană metalo-ceramică total fizionomică pe implant</div><div class="cell">650 lei</div></div>
       <div class="row"><div class="cell">Coroană Zirconiu total fizionomică pe implant</div><div class="cell"><del>1200 lei</del><span> 800 lei</span></div></div>
       <div class="row"><div class="cell">Supra proteză pe implanturi (pe 2 implanturi tip capse)</div><div class="cell">2500 lei</div></div>
       <div class="row"><div class="cell">Supra proteză pe implanturi (pe 4 implanturi tip capse)</div><div class="cell">3000 lei</div></div>
       <div class="row"><div class="cell"><b>*</b></div><div class="cell"></div></div>
       <div class="row"><div class="cell">Coroană metalo-ceramică total fizionomică</div><div class="cell">450 lei</div></div>
       <div class="row"><div class="cell">Coroană Zirconiu total fizionomică</div><div class="cell"><del>1000 lei</del><span> 600 lei</span></div></div>
       <div class="row"><div class="cell">Coroană integral ceramică total fizionomică</div><div class="cell">800 lei</div></div>
       <div class="row"><div class="cell">Coroană acrilică</div><div class="cell">120 lei</div></div>
       <div class="row"><div class="cell"><b>*</b></div><div class="cell"></div></div>
       <div class="row"><div class="cell">Fațete dentare</div><div class="cell"><del>1000 lei</del><span> 750 lei</span></div></div>
       <div class="row"><div class="cell"><b>*</b></div><div class="cell"></div></div>
       <div class="row"><div class="cell">Pivot metalic</div><div class="cell">100 lei</div></div>
       <div class="row"><div class="cell">Pivot fibră de sticlă</div><div class="cell">100 lei</div></div>
       <div class="row"><div class="cell">Ablație (tăiere coroană)</div><div class="cell">30 lei</div></div>
       <div class="row"><div class="cell"><b>*</b></div><div class="cell"></div></div>
       <div class="row"><div class="cell">Proteză totală/Parțială acrilică</div><div class="cell">800 lei</div></div>
       <div class="row"><div class="cell">Proteză scheletată cu sisteme speciale de retenție</div><div class="cell">1800 lei</div></div>
       <div class="row"><div class="cell">Proteză scheletată cu crosete turnate</div><div class="cell">1500 lei</div></div>
       
       <div class="row header"><div class="cell">TRATAMENTE COPII</div><div class="cell"></div></div>
       <div class="row"><div class="cell">Extracție dinți temporari</div><div class="cell">50 lei</div></div>
       <div class="row"><div class="cell">Obturație glassionomer</div><div class="cell">50 lei</div></div>
       <div class="row"><div class="cell">Obturație foto</div><div class="cell">70 lei</div></div>
       <div class="row"><div class="cell">Sigilare</div><div class="cell">50 lei</div></div>
       
   </div>
</div>