<!-- Start Testimonials -->
<div id="testimonials" class="testimonials parallax" >
    <div class="overlay-container">
        <div class="overlay" style="background: #fff" ></div>
        <div class="container-fluid">        
            <div class="row">
            <div class="fb-page" data-href="https://www.facebook.com/inodent.ro/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true"><blockquote cite="https://www.facebook.com/inodent.ro/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/inodent.ro/">{{site.name}}</a></blockquote></div>
            </div>
            <div>
                {% for testimonial in site.data.testimonials %}
                    <div class="container-testimonial">
                        <a href="{{ testimonial.link}}" class="testimonial-link" target="_blank"><img  rel="nofollow" src="/img/user.jpg"/> {{ testimonial.name }}</a>
                        <p>{{ testimonial.date }}</p>
                        <p>{{ testimonial.description }} <a href="{{ testimonial.link}}">&hellip;</a> </p>
                    </div>
                {% endfor %}
            </div>
            
            

        </div>
    </div>
</div>
<!-- End Testimonials -->
