{% include doctype-head.html %}
<body data-spy="scroll" data-offset="80" data-target=".scrollspy" id="top">
    {% include svg-defs.svg %}
    <!--[if lt IE 10]>
        <p class="oldie">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> to better experience this site.</p>
    <![endif]-->

    {% include header.html %}
 
        {{ content }}
           
    {% include footer.html %}
    
     <div id="callnow">
        <div>
            <a href="tel: {{site.contact.phone}}"><svg class="icon icon-phone"><use xlink:href="#icon-phone"></use></svg>Sună acum</a>
        </div>
    </div>
    

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="//maps.googleapis.com/maps/api/js?key={{site.map.key}}"></script>
    <script src="{{ site.baseurl }}/js/all.min.js"></script>
    <script src="{{ site.baseurl }}/js/dent.js"></script>

    
    {% include clicky.html %}

</body>
</html>
